@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Playwrite+CU:wght@100..400&family=Playwrite+HR+Lijeva:wght@100..400&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: "Raleway", sans-serif;
  }
}
.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}